<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>WideOp Agency | Marion Bobillo</title>
    <meta name="description" content="Agence digitale indépendante: développement de sites et web applications et services de consulting digital. Transformation digitale, marketing digital, lancement d'un site vitrine ou e-commerce, WideOp Agency met son expertise digitale au service de vos projets.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <script>
    document.addEventListener("turbo:load", () => {
      const notice = document.querySelector(".notice");
      const alert = document.querySelector(".alert");
      if (notice) {
        setTimeout(() => notice.remove(), 5000); // remove notice after 5 seconds
      }
      if (alert) {
        setTimeout(() => alert.remove(), 5000); // remove alert after 5 seconds
      }
    });
    </script>

    <div class="footer background-home">
      <div class="footer-wrapper d-flex flex-row justify-content-between">
        <div class="coordinates col-4">
          <h4>WideOp Agency</h4>
          <p class="font-small">
          Consulting et Développement Web freelance <br>
          Siret: 917644999 00026 <br>
          TVA non applicable, art. 293 B du CGI <br>
          </p>
        </div>
        <div class="media col-4 d-flex flex-row justify-content-center align-items-center">
          <a href="https://www.linkedin.com/in/marion-bobillo-rouch-86065a14/" target="_blank"><i class="fa-brands fa-linkedin icon-size color-white mx-2"></i></a>
          <a href="https://www.linkedin.com/in/marion-bobillo-rouch-86065a14/" target="_blank"><i class="fa-brands fa-github icon-size color-white mx-2"></i></a>
        </div>
        <div class="links col-4 d-flex flex-column">
          <a href="/consulting" class="sitemap">Consulting digital</a>
          <a href="/consulting" class="sitemap">Product Management / PMO</a>
          <a href="/webdev" class="sitemap">Développement web</a>
          <a href="/about" class="sitemap">A propos de moi</a>
          <a href="/contact" class="sitemap">Contact</a>
          <a href="https://calendly.com/marion-bobillo/30min" class="sitemap">RDV gratuit</a>
        </div>
      </div>
    </div>
  </body>
</html>
