<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>WideOp Agency | Marion Bobillo</title>
    <meta name="description" content="Agence digitale indépendante: développement de sites et web applications et services de consulting digital. Transformation digitale, marketing digital, lancement d'un site vitrine ou e-commerce, WideOp Agency met son expertise digitale au service de vos projets.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <script>
    document.addEventListener("turbo:load", () => {
      const notice = document.querySelector(".notice");
      const alert = document.querySelector(".alert");
      if (notice) {
        setTimeout(() => notice.remove(), 5000); // remove notice after 5 seconds
      }
      if (alert) {
        setTimeout(() => alert.remove(), 5000); // remove alert after 5 seconds
      }
    });
    </script>
  </body>
</html>
